body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(238, 238, 231);
}

main{
    margin-top: 8rem;
}

p{
    align-self: center;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: rgb(85, 81, 81);
}

h2{
    font-family: 'Nova Slim', cursive;
    font-size: 300%;
    color: rgb(61, 58, 58);
    margin-left: 3rem;
}

.nav-pos{
    font-weight: bold;
    color: black;
}

.shadow-pic{
    outline: none;
    border-color: black;
    box-shadow: 0 0 30px black;
}


.section-flex{
    display: flex;
    flex-direction: column;
}

.text-p{
    max-width: 70%;
    font-size: 150%;
    line-height: 50px;
}

/*********************************************************** HEADER ******************************************************************/

header{
    max-height: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#header-pic{
    max-height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: fixed;
    background-image: url(img/blur-blue.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    z-index: 1000;
}

#header-pic img{
    padding: 5px;
    width: 100px;
    height: 100px;
    transition: 0.6s;
}

#logo{
    transition: 0.6s;
}

#logo:hover{
    transform: rotate(15deg);
    transition: 0.3s;
}

#header-nav{
    padding-left: 2rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#header-nav a{
    text-decoration: none;
    color: white;
    font-size: 150%;
    font-family: 'Playfair Display SC', serif;
}

nav a{
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
    transition: .5s;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border: solid 2px;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: 0.2s;
}

nav a:hover:before {
    bottom: -8px;
    left: -8px;
    opacity: 1;
}

nav a:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border: solid 2px;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: 0.2s;
}

nav a:hover:after {
    top: -1px;
    right: -8px;
    opacity: 1;
}

nav span:hover {
    color: black;
}




/*********************************************************** MAIN ******************************************************************/

/*************************** Index **************************/
#accueil h1{
    margin-top: 0;
    margin-bottom: 1.4%;
    font-size: 930%;
    text-align: center;
    font-family: 'Kolker Brush', cursive;
    color: #536feb;
    text-shadow:
    1px 18px 6px #32698366,
    1px 22px 10px #32698366,
    1px 25px 35px #32698366,
    1px 30px 60px #32698366;
}

#video-container{
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    margin-bottom: 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 25px;
    background-color: rgb(37, 34, 34);
}

#accueil video{
    height: auto;
    width: 100%;
    align-self: center;
    border-radius: 25px;
}

#accueil-pic{
    margin: 2.11rem;
    display: flex;
    justify-content: space-around;
}

#accueil-pic img{
    height: 400px;
    filter: grayscale(80%);
    margin-bottom: 1rem;
}

/*************************** Histoire **************************/
#princip{
    margin-top: 2rem;
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 6rem;
}

#fondateur{
    padding: 0px;
    margin-bottom: 6rem;
    margin: 0;
    max-width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

#fondateur img{
    margin-left: 3rem;
    width: 25%;
}

#fondateur p{
    margin-left: 6rem;
    max-width: 100%;
    margin-top: 0;
    text-align: start;
}

#origine{
    margin-left: 6rem;
    margin-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
}

#origine img{
    margin-right: 3rem;
    margin-right: 3rem;
    width: 25%;
}

#origine p{
    text-align: start;
}

#l-defense p{
    margin-left: 6rem;
    text-align: start;
}


/*************************** Galerie **************************/
#galerie{
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#galerie img{
    border-radius: 5%;
    
}

.img-container1{
    transition: 0.5s;
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgb(37, 34, 34);
    outline: none;
    border-color: black;
}

.img-container1:hover{
    border-radius: 5%;
    transform: scale(1.2) rotate(9deg);
    transition: 0.8s;
    z-index: 1000;
    box-shadow: 0 0 30px black;
}

.img-container2{
    transition: 0.5s;
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgb(37, 34, 34);
    outline: none;
    border-color: black;
}

.img-container2:hover{
    border-radius: 5%;
    transform: scale(1.2) rotate(-9deg);
    transition: 0.8s;
    z-index: 1000;
    box-shadow: 0 0 30px black;
}


/*************************** Amis **************************/
#amis{
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#amis img{
    height: 150px;
    width: 150px;

}

#amis p{
    margin: 0;
    margin-top: 2rem;
    font-size: 150%;
    
}

.amis-liens{
    max-width: 20rem;
    margin-top: 3rem;
    margin-right: 9rem;
    margin-left: 8rem;
    margin-bottom: 9.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.amis-liens img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    box-shadow: none;
}
.amis-liens:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    border-radius: 100px;
    transition: 1s;
    box-shadow: 0 0 30px black;
}


/*************************** Ceintures **************************/
#ceintures-text{
    padding-top: 1rem;
    min-width: 95vw;
}

#ceintures-text p{
    margin-left: 6rem;
    text-align: start;
}

#ceintures-pic{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#ceintures-pic p{
    margin-top: 3rem;
    font-size: 150%;
}

#ceintures img{
    height: 200px;
    width: 200px;
}

#cjaune:hover{
    box-shadow: 0 0 30px rgb(231, 218, 32);
}

#corange:hover{
    box-shadow: 0 0 30px rgb(238, 149, 47);
}

#cverte:hover{
    box-shadow: 0 0 30px rgb(14, 185, 9);
}

#cbleue:hover{
    box-shadow: 0 0 30px #2842b6;
}

#cmarron:hover{
    box-shadow: 0 0 30px rgb(158, 97, 6);
}

#cnoire:hover{
    box-shadow: 0 0 30px rgb(17, 16, 1);
}


/*************************** Fonctionnement du Club **************************/
#cours h2{
    padding-top: 5rem;
}

#cours ul{
    list-style-type: none;
}

#horaires p, #tarifs p, #equipement p, #inscription p{
    margin-left: 6rem;
    text-align: start;
    font-size: 150%;
}

#cours a{
    text-decoration: none;
    margin-left: 6rem;
    align-self: center;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: rgb(85, 81, 81);
    font-size: 150%;
    line-height: 60px;
}

#cours a:hover {
    text-decoration: underline;
}

#instructeurs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instru-pic{
    margin-top: 3rem;
    margin-right: 9rem;
    margin-left: 8rem;
    margin-bottom: 9.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.instru-pic p{
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 120%;
    line-height: 40px;
}

.instru-name{
    font-weight: bold;
}

#instructeurs img{
    height: 638px;
    width: 430px;
    align-self: center;
}

#sensei{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*************************** Contact **************************/
#contact-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#contact{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-box{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 150%;
}

.contact-box a{
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    color: rgb(85, 81, 81);
}

.contact-box a:hover{
    color: black;
    text-decoration: underline #2842b6;;

}

.contact-box i{
    margin: 2rem;
    padding: 1.5rem;
    font-size: 200%;
    color: black;
    transition: 0.8s;
}

.contact-box i:hover{
    transform: scale(1.8) rotate(360deg);
    transition: 0.8s;
    color: #2842b6;
}

#map{
    margin: 3rem;
    align-self:  center;
    height: 30rem;
    width: 40rem;
    border-radius: 50px;
    transition: 0.5s;
}

#formulaire{
    width: fit-content;
    align-self: center;
    margin: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    transition: 0.6s;
}

#formulaire:hover{
    transform: scale(1.01);
    box-shadow: 0 0 30px #2842b6;
    background-color: rgb(250, 250, 250);
    transition: 0.6s;
}

#formulaire h2{
    align-self: center;
    margin-left: 0;
}

#nom, #mail{
    margin: 1.5rem;
    padding: 0.3rem;
    width: 30vw;
    height: 3rem;
    border-radius: 25px;
    font-size: 150%;
    box-shadow: 0 0 10px #1e1f20;

}

#formulaire textarea{
    margin: 1.5rem;
    padding: 1rem;
    width: 60vw;
    height: 9rem;
    border-radius: 50px;
    font-size: 200%;
    box-shadow: 0px 0px 10px #1e1f20;
}

#submit{
    height: 3rem;
    width: 9rem;
    border-radius: 25px;
    font-size: 150%;
    color: white;
    background-color: #150578;
    transition: 0.6s;
}

#submit:hover{
    transform: scale(1.03);
    background-color: #1e07af;
    transition: 0.6s;
}


/*********************************************************** FOOTER ******************************************************************/
#footer{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#footer p{
    margin: 0;
    padding-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    color: white;
}

#footer a{
    padding-left: 0.3rem;
    padding-right: 0.7rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: white    ;
}

.fa-facebook{
    font-size: 170%;
}