body{
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: rgb(238, 238, 231);
    overflow-x: hidden;
}

main{
    margin-top: 8rem;
}

p{
    align-self: center;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: rgb(85, 81, 81);
}

h2{
    font-family: 'Nova Slim', cursive;
    font-size: 60px;
    color: rgb(61, 58, 58);
    margin-left: 3rem;
}

.shadow-pic{
    outline: none;
    border-color: black;
    box-shadow: 0 0 30px black;
}


.section-flex{
    display: flex;
    flex-direction: column;
}

.text-p{
    max-width: 70%;
    font-size: 30px;
    line-height: 50px;
}

/*********************************************************** HEADER ******************************************************************/

header{
    max-height: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#header-pic{
    max-height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: fixed;
    background-image: url(img/blur-blue.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    z-index: 1000;
}

#header-pic img{
    padding: 5px;
    width: 100px;
    height: 100px;
}

#header-nav{
    padding-left: 2rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#header-nav a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Playfair Display SC', serif;
}

nav a{
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .5s;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border: solid 2px;
    border-width: 0 0 2px 2px;
    opacity: 0;
    transition: 0.2s;
}

nav a:hover:before {
    bottom: -8px;
    left: -8px;
    opacity: 1;
}

nav a:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border: solid 2px;
    border-width: 2px 2px 0 0;
    opacity: 0;
    transition: 0.2s;
}

nav a:hover:after {
    top: -8px;
    right: -8px;
    opacity: 1;
}

nav a:hover {
    color: black;
}





/*********************************************************** MAIN ******************************************************************/

/*************************** Index **************************/
#accueil h1{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 250px;
    text-align: center;
    font-family: 'Kolker Brush', cursive;
    color: #2842b6;
    text-shadow:
        1px 1px #b1b1b1,
        1px 1px #b1b1b1,
        1px 1px #b1b1b1,
        1px 1px #b1b1b1,
        1px 1px #b1b1b1,
        1px 1px #b1b1b1,
        1px 1px #b1b1b1,
        1px 1px #b1b1b1,
        1px 1px #b1b1b1,
        1px 1px 1px #b1b1b1,
    1px 18px 6px #2d2d2d66,
    1px 22px 10px #2d2d2d66,
    1px 25px 35px #2d2d2d66,
    1px 30px 60px #2d2d2d66;
}

#video-container{
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 5%;
    background-color: rgb(37, 34, 34);
}

#accueil video{
    height: auto;
    width: 80rem;
    align-self: center;
    border-radius: 5%;
}

#accueil-pic{
    margin: 2.11rem;
    display: flex;
    justify-content: space-around;
}

#accueil-pic img{
    height: 400px;
    filter: grayscale(80%);
    margin-bottom: 1rem;
}


#intro{
    padding: 2rem;
    font-size: 30px;
}


/*************************** Histoire **************************/
#princip{
    font-size: 30px;
    margin-bottom: 6rem;
}

#fondateur{
    padding: 0px;
    margin: 0;
    margin-bottom: 6rem;
    max-width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

#fondateur img{
    margin-left: 3rem;
    max-height: 700px;
    max-width: 500px;
}

#fondateur p{
    margin-left: 6rem;
    max-width: 100%;
    margin-top: 0;
    text-align: start;
}

#origine{
    margin-left: 3rem;
    margin-bottom: 6rem;
    display: flex;
}

#origine img{
    margin-right: 3rem;
    margin-right: 3rem;
    max-height: 650px;
    max-width: 500px;
}

#origine p{
    text-align: start;
}

#l-defense p{
    margin-left: 6rem;
    text-align: start;
}


/*************************** Galerie **************************/
#galerie{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#galerie img{
    border-radius: 5%;
    
}

.img-container{
    transition: 0.2s;
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 5%;
    background-color: rgb(37, 34, 34);
    outline: none;
    border-color: black;
    box-shadow: 0 0 30px black;
}

.img-container:hover{
    transform: scale(2);
    transition: 0.2s;
}



/*************************** Amis **************************/
#amis{
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#amis img{
    height: 150px;
    width: 150px;

}

#amis p{
    margin: 0;
    margin-top: 2rem;
    font-size: 23px;
    
}

.amis-liens{
    max-width: 20rem;
    margin-top: 3rem;
    margin-right: 9rem;
    margin-left: 8rem;
    margin-bottom: 9.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.amis-liens img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.amis-liens:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


/*************************** Ceintures **************************/
#ceintures-text{
    padding-top: 1rem;
    min-width: 95vw;
}

#ceintures-text p{
    margin-left: 6rem;
    text-align: start;
}

#ceintures-pic{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#ceintures-pic p{
    margin-top: 3rem;
    font-size: 25px;
}

#ceintures img{
    height: 200px;
    width: 200px;
}


/*************************** Tarifs **************************/
#cours h2{
    padding-top: 5rem;
}

#cours ul{
    list-style-type: none;
}

#horaires p, #tarifs p, #equipement p, #inscription p{
    margin-left: 6rem;
    text-align: start;
    font-size: 30px;
}

#cours a{
    text-decoration: none;
    margin-left: 6rem;
    align-self: center;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: rgb(85, 81, 81);
    font-size: 30px;
    line-height: 60px;
}

#cours a:hover {
    text-decoration: underline;
}

#instructeurs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instru-pic{
    margin-top: 3rem;
    margin-right: 9rem;
    margin-left: 8rem;
    margin-bottom: 9.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.instru-name{
    font-size: 50px;
    font-weight: bold;
}

.instru-pic p{
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

#instructeurs img{
    height: 638px;
    width: 430px;
    align-self: center;
}

#sensei{
    display: flex;
    justify-content: space-around;

}

/*********************************************************** FOOTER ******************************************************************/
#footer{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#footer p{
    margin: 0;
    padding-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

#footer a{
    padding-left: 0.3rem;
    padding-right: 0.7rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white    ;
}

.fa-facebook{
    font-size: 20px;
}